<!DOCTYPE html>
    <head>
        <title>Home Page</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" ></script>
  		<script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
        <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js" ></script>
    </head>
    <body>
        <h3 align="center">Welcome to CUH bus tracker!</h3>
        <hr>
        <div id="app">
            <router-view :key="$route.fullPath"></router-view>
        </div>
        
    </body>
    <script type="module" src="/static/main.js"></script>

</html>